@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,600;1,9..144,300&family=Inter:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding-inline-section:20px;
    --main-color:white;
    --sec-color:#4b4b4b;
}

body{
    background-color: black;
   
}

.container{
    margin-inline:auto;
    padding:var(--padding-inline-section);
    max-width: 1080px;

}

.flex{
    display: flex;
    align-items: center;
}

.btn{
    border: 1px solid var(--main-color);
    padding: 15px 30px;
    border-radius: 100px;
}

h1{
    font-family: 'Fraunces', serif;
    font-size: 6rem;
    font-style: italic;
    font-weight: 200;
    color: white;
    
}

h2,a{
    font-family: 'Inter', sans-serif;
    color:white
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: white;
}

ul{
    list-style: none;
    font-size: 16px;
}

a{
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
}

/* navbar */

.navbar{
    justify-content: space-between;
    border-bottom: 1px solid rgb(107, 107, 107);
}

.nav-links ul{
    gap: 40px;
}

.nav-links li a{
    color: var(--main-color);
    transition: 0.5s ease-in-out;
}

.nav-links li a:hover{
    border-bottom: 1px solid white;
    transition: 0.2s step-end;
}


/* landing */

header{
    padding: 50px var(--padding-inline-section);

}

.content{
    justify-content:center;
    align-items: center;
    gap: 20px;
    
}


.image img{
    width: 600px;
}

.image{
    z-index: 1;
}

.text{
    max-width: 40vh;
    position:relative;
    margin-bottom: 300px;
}

.cta{
    margin-top: 20px;

}

.circle{
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 100%;
    top: 250px;
    right: 30%;
    bottom: 400px;
    position:absolute;
    
}